.text-center {
    text-align: center !important;
}

.push-header {
    margin-top: -66px;
}

.login-box{
    position: absolute;
    width: 380px;
    left: 50%;
    margin-left: -190px;
    top: 50%;
    margin-top: -147.5px;
}

#login-screen{
    background: #E5E5E5;
}